{% extends 'notes/base.html' %}

{% block content %}
        <h1><a href="/note/list">Notes List</a></h1>

<div class="note">
    {% if notes.published_date %}
    <div class="date">
        {{ notes.published_date }}

    </div>
    {% endif %}

<div class="edit_note">
     <a class="btn btn-default" href="{% url 'note_edit' pk=notes.pk %}">
        <span class="glyphicon glyphicon-pencil"></span></a>

    <div class="delete_note">
     <a class="btn btn-default" href="{% url 'note_delete' pk=notes.pk %}">
        <span class="glyphicon glyphicon-trash"></span></a>

</div>

</div>

    <h1>{{ notes.title }}</h1>
    <p>{{ notes.text|linebreaksbr }}</p>

{% endblock %}

</div>