{% extends 'notes/base.html' %}

{% block content %}


<div class="page-header">
             <center>   <h1>Welcome Back</h1> </center>
</div>

<button class="tablink" onclick="Registration('login, 'signup')" id="defaultOpen">Signup</button>
<button class="tablink" onclick="window.location.href='/login'">Login</button>
<div class="form">


      <div class="tab-content">
        <div id="signup">
<form method="post">
  {% csrf_token %}
  {% for field in form %}
    <center>
  <table>
      <tr>
      <td>

    {{ field.label_tag }}
    {{ field }}
    {% for error in field.errors %}
  <p style="color: red">{{ error }}</p>
  {% endfor %}
      </td>
  </tr>
  </table>
        </center>
  {% endfor %}
    <div>
      <button class="btn-submit" type="submit">Submit</button>
</div>
</form>
{% endblock %}


        </div>
      </div>
</div>