{% extends 'notes/base.html' %}

{% block content %}

<div class="page-header">
    <center><h1>Welcome Back</h1></center>
</div>
<div class="sign__up">


    <button class="tablink" onclick="Registration('login, 'signup')" id="defaultOpen">Signup</button>
    <button class="tablink" onclick="window.location.href='/login'">Login</button>
    <div class="form">

        <div class="tab-content">
            <div id="signup">
                <form method="post" class="sign__up__form">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="row sign__up__form__row">
                        <div class="col-md-6">{{ field.label_tag }}</div>
                        <div class="col-md-6">{{ field }}</div>
                        {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <div>
                        <button class="btn-submit" type="submit">Submit</button>
                    </div>
                </form>
                {% endblock %}


            </div>
        </div>
    </div>

</div>